:host {
  width: 360px;
}

:host * {
  box-sizing: border-box;
}

.login-form {
  padding-top: 20px;
  width: 100%;
}

.login-form__input {
  margin: 10px 0;
  width: 100%;
}

.login-form__button {
  color: #fff;
  margin-top: 20px;
  width: 100%;
}
