<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-divider inset></mat-divider>
  <mat-card-content>
    <form class="login-form" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="this.handleFormSubmit($event)">
      <mat-form-field class="login-form__input login-form__input--username">
        <input matInput type="text" placeholder="Nazwa użytkownika" formControlName="username">
        <mat-error *ngIf="username!.hasError('required')">Nazwa użytkownika jest wymagana</mat-error>
        <mat-error *ngIf="username!.hasError('invalidUsername') && !username!.hasError('required')">Podana nazwa użytkownika nie jest poprawna</mat-error>
      </mat-form-field>
      <mat-form-field class="login-form__input login-form__input--password">
        <input matInput type="password" placeholder="Hasło" formControlName="password">
        <mat-error *ngIf="password!.hasError('required')">Hasło jest wymagane</mat-error>
        <mat-error *ngIf="password!.hasError('invalidPassword') && !password!.hasError('required')">Podane hasło nie jest poprawne</mat-error>
      </mat-form-field>
      <button mat-raised-button class="login-form__button" color="primary" type="submit">Zaloguj</button>
      <input autocomplete="false" name="hidden" type="text" style="display:none;" />
    </form>
  </mat-card-content>
</mat-card>
