@import '~@angular/material/theming';

/*$primary: #009ace;
$accent: #be933c;
$warn: #C62828;
$foreground: #ffffff;
$background: #3D3A35;*/

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$invisalign-app-theme: mat-light-theme(mat-palette($mat-blue, 400), mat-palette($mat-orange, 600), mat-palette($mat-red));

@include angular-material-theme($invisalign-app-theme);


// styles for components
.mat-button .mat-button-wrapper {
  display: flex;
  align-items: center;

  .mat-icon {
    padding-right: 5px;
  }
}
