<mat-card class="invisalign-payments-card">
  <mat-card-title>Kalkulator płatności Invisalign</mat-card-title>
  <mat-divider inset></mat-divider>
  <mat-card-content>
    <form
      class="invisalign-payments-form"
      autocomplete="off"
      [formGroup]="invisalignPaymentsForm"
      (ngSubmit)="this.handleFormSubmit($event)"
    >
      <mat-form-field class="invisalign-payments-form__input invisalign-payments-form__input--treatment-start-date">
        <input matInput formControlName="treatmentStartDate" [matDatepicker]="picker" placeholder="Wybierz datę rozpoczęcia leczenia" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="treatmentStartDate!.hasError('required')">Data rozpoczęcia leczenia jest wymagana</mat-error>
        <mat-error *ngIf="treatmentStartDate!.hasError('date')">Data rozpoczęcia leczenia jest niepoprawna</mat-error>
      </mat-form-field>
      <mat-form-field class="invisalign-payments-form__input invisalign-payments-form__input--patient-name">
        <input matInput type="text" placeholder="Imię i nazwisko pacjenta" formControlName="patientName" />
        <mat-error *ngIf="patientName!.hasError('required')">Nazwisko pacjenta jest wymagane</mat-error>
      </mat-form-field>
      <mat-form-field class="invisalign-payments-form__input invisalign-payments-form__treatment-type">
        <mat-select
          formControlName="treatmentType"
          placeholder="Rodzaj leczenia"
          (selectionChange)="handleTreatmentTypeChange()"
        >
          <mat-option *ngFor="let treatmentType of treatmentTypes" [value]="treatmentType">
            {{ treatmentType.displayName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="treatmentType!.hasError('required')">Rodzaj leczenia jest wymagany</mat-error>
      </mat-form-field>
      <mat-form-field
        *ngIf="invisalignPaymentsForm.contains('amountOfAligners')"
        class="invisalign-payments-form__input invisalign-payments-form__input--amount-of-aligners"
      >
        <input
          matInput
          type="number"
          placeholder="Ilość nakładek"
          formControlName="amountOfAligners"
          (change)="handleAmountOfAlignersChange($event)"
        />
        <mat-error *ngIf="amountOfAligners!.hasError('required')"
          >Ilość nakładek jest wymagana, jeśli wybrany typ leczenia to Invisalign Comprehensive</mat-error
        >
        <mat-error *ngIf="amountOfAligners!.hasError('min')"
          >Ilość nakładek musi być większa niż 14, jeśli wybrany typ leczenia to Invisalign Comprehensive</mat-error
        >
      </mat-form-field>

      <div class="invisalign-payments-form__info-block" *ngIf="treatmentType!.value">Koszt leczenia: {{ treatmentType!.value.price | currency: "PLN" }}</div>
      <div class="invisalign-payments-form__info-block" *ngIf="treatmentType!.value">Ilość rat: {{ treatmentType!.value.amountOfInstalments }}</div>

      <div *ngIf="treatmentType!.value" class="invisalign-payments-schedule" formGroupName="schedule">
        <h3 class="invisalign-payments-schedule__title">Dni wizyt i harmonogram płatności:</h3>
        <ul class="invisalign-payments-schedule__list">
          <li
            *ngFor="let scheduleItem of scheduleItems; let i = index"
            class="invisalign-payments-schedule__item"
            formGroupName="{{ scheduleItem }}"
          >
            <mat-form-field class="invisalign-payments-schedule__item-title">
              <input matInput type="text" placeholder="Tytuł" formControlName="title" />
              <mat-error *ngIf="getScheduleItemFormControl(scheduleItem, 'title').hasError('required')"
                >To pole jest wymagane</mat-error
              >
            </mat-form-field>
            <mat-form-field class="invisalign-payments-schedule__item-date">
              <input matInput type="text" placeholder="Data" formControlName="date" [matDatepicker]="i" />
              <mat-datepicker-toggle matSuffix [for]="i"></mat-datepicker-toggle>
              <mat-datepicker #i></mat-datepicker>
              <mat-error *ngIf="getScheduleItemFormControl(scheduleItem, 'date').hasError('required')"
                >To pole jest wymagane</mat-error
              >
            </mat-form-field>
            <mat-form-field class="invisalign-payments-schedule__item-price">
              <input matInput type="text" placeholder="Cena" formControlName="price" />
              <span matSuffix>PLN</span>
              <mat-error *ngIf="getScheduleItemFormControl(scheduleItem, 'price').hasError('required')"
                >To pole jest wymagane</mat-error
              >
            </mat-form-field>
            <button type="button" mat-icon-button (click)="removeScheduleItem(scheduleItem)">
              <mat-icon>remove</mat-icon>
            </button>
          </li>
        </ul>
        <button type="button" class="invisalign-payments-schedule__add-item-button" mat-button color="accent" (click)="addScheduleItem()">
          <mat-icon>add</mat-icon> Dodaj element
        </button>
      </div>

      <button mat-raised-button type="submit" color="primary" class="invisalign-payments-form__button" color="primary" type="submit">
        Oblicz
      </button>
      <input autocomplete="false" name="hidden" type="text" style="display:none;" />
    </form>
  </mat-card-content>
</mat-card>
