:host {
  display: flex;
  margin: 0 auto;
  max-width: 90%;
  width: 860px;
}

.invisalign-payments-card {
  width: 100%;
}

.invisalign-payments-form {
  padding-top: 20px;
  width: 100%;

  &__info-block {
    margin: 0 0 10px 0;
  }
}

.invisalign-payments-form__input {
  margin: 10px 0;
  width: 100%;
}

.invisalign-payments-form__button {
  color: #fff;
  margin-top: 20px;
  width: 100%;
}

.invisalign-payments-schedule {}

.invisalign-payments-schedule__list {
  padding: 0;
}

.invisalign-payments-schedule__item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.invisalign-payments-schedule__item-title {
  width: 60%;
}

.invisalign-payments-schedule__item-date {
  width: 15%;
}

.invisalign-payments-schedule__item-price {
  width: 15%;
}
